{% if c.url_order_up %}
<a
  class="pure-button pure-button-xsmall{% if c.url_order_up == '#' %} pure-button-disabled{%endif%}"
  href="{{ c.url_order_up }}{% if return_path %}?next={{ return_path }}{% endif %}"
  title="Move {{ caption }} Up">
  <i class="fa fa-arrow-up"></i>
</a>

<a
  class="pure-button pure-button-xsmall{% if c.url_order_down == '#' %} pure-button-disabled{%endif%}"
  href="{{ c.url_order_down }}{% if return_path %}?next={{ return_path }}{% endif %}"
  title="Move {{ caption }} Down">
  <i class="fa fa-arrow-down"></i>
</a>
{% endif %}

{% if c.is_pending_added or c.is_pending_edited %}
  <a
    class="pure-button pure-button-xsmall"
    title="Publish{% if caption %} {{ caption }}{% endif %}"
    href="{{ c.url_publish }}{% if return_path %}?next={{ return_path }}{% endif %}">
    <i class="fa fa-check"></i>
    Publish{% if caption %} {{ caption }}{% endif %}
  </a>
{% endif %}
<a
  class="pure-button pure-button-xsmall"
  title="Edit{% if caption %} {{ caption }}{% endif %}"
  href="{{ c.url_update }}{% if return_path %}?next={{ return_path }}{% endif %}">
  <i class="fa fa-edit"></i>
  Edit{% if caption %} {{ caption }}{% endif %}
</a>

{% for url in c.wizard_urls %}
  <a class="pure-button pure-button-xsmall" href="{{ url.url }}{% if return_path %}?next={{ return_path }}{% endif %}">
    <i class="{{ url.class }}"></i>
    {{ url.caption }}
  </a>
{% endfor %}

{% if can_remove %}
  <a
    class="pure-button pure-button-xsmall"
    title="Remove{% if caption %} {{ caption }}{% endif %}"
    href="{{ c.url_remove }}{% if return_path %}?next={{ return_path }}{% endif %}">
    <i class="fa fa-times"></i>
    Remove{% if caption %} {{ caption }}{% endif %}
  </a>
{% endif %}
