{% if c.is_pending_added or c.is_pending_edited %}
  <a class="pure-button pure-button-xsmall" href="{{ c.url_publish }}">
    <i class="fa fa-check"></i>
    Publish
  </a>
{% endif %}
<a class="pure-button pure-button-xsmall" href="{{ c.url_update }}">
  <i class="fa fa-edit"></i>
  Edit
</a>

{% for url in c.wizard_urls %}
  <a class="pure-button pure-button-xsmall" href="{{ url.url }}">
    <i class="{{ url.class }}"></i>
    {{ url.caption }}
  </a>
{% endfor %}

{% if can_remove %}
  <a class="pure-button pure-button-xsmall" href="{{ c.url_remove }}">
    <i class="fa fa-times"></i>
    Remove
  </a>
{% endif %}
</p>
