{% load base_tags %}
{% if legend %}
  <legend>{{ legend }}</legend>
{% endif %}
{% for field in form.visible_fields %}
  <div class="pure-control-group">
    {% if field.label %}
      <label for='{{ field.id_for_label }}'>
        {{ field.label }}
        {% if field|is_file_input %}
          <small>
            <br />
            Current: {{ form.instance.document_file_name }}
            <br />
          </small>
          To update:
        {% else %}
          {% if field.help_text %} - {{ field.help_text }}{% endif %}:
        {% endif %}
      </label>
    {% endif %}
    {% if aligned %}
      {{ field }}
    {% endif %}
    {% for error in field.errors %}
      <span class="errorlist"><mark>{{ error }}</mark></span>
    {% endfor %}
    {% if not aligned %}
      {{ field }}
    {% endif %}
  </div>
{% endfor %}
