{% extends 'dash/base.html' %}

{% load thumbnail %}

{% block sub_title %}
  Image Library
{% endblock sub_title %}

{% block sub_heading %}
  Image Library
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_back_to_settings.html' %}
          <li class="pure-menu-item">
            <a href="{% url 'block.image.category.list' %}" class="pure-menu-link">
              <i class="fa fa-picture-o"></i>
              Image Categories
            </a>
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'block.image.list.delete' %}" class="pure-menu-link">
              <i class="fa fa-trash-o"></i>
              Delete Images
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    {% for image in image_list %}
      {% ifchanged image.category %}
        {% if image.category %}
          </div>
            <div class="pure-g">
              <div class="pure-u-1">
                <br>
                <h3>{{ image.category.name }}</h3>
              </div>
            </div>
          <div class="pure-g">
        {% endif %}
      {% endifchanged %}
      <div class="pure-u-1-2 pure-u-md-1-4">
        <img src="{% thumbnail image.image 100x100  crop='center' %}">
        <br>
        <a href="{% url 'block.image.update' image.pk %}">
          <i class="fa fa-edit"></i>
          {{ image.title }}
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
