{% extends 'dash/base.html' %}

{% block sub_title %}
  Delete the menu item '{{object.title}}' from {{ object.menu }}
{% endblock sub_title %}

{% block sub_heading %}
  Delete the menu item '{{object.title}}' from {{ object.menu }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="l-box">
        <form action="" method="post">{% csrf_token %}
          <p>
            Are you sure you want to delete the menu item '{{ object.title }}' from {{ object.menu }}?
          </p>
          <input type="submit" value="Delete" class="pure-button pure-button-primary" />
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
