{% extends 'project/base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{# load web_tags #}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block sub_title %}
    Choose a link
{% endblock sub_title %}

{% block sub_heading %}
  {% ifequal 'image_type' wizard.steps.current %}
    Choose the type of image
  {% endifequal %}
  {% ifequal 'url_type' wizard.steps.current %}
    Choose the type of link
  {% endifequal %}
  {% ifequal 'a' wizard.steps.current %}
    Choose a previously uploaded image
  {% endifequal %}
  {% ifequal 'i' wizard.steps.current %}
    Upload an image
  {% endifequal %}
  {% ifequal 'l' wizard.steps.current %}
    Enter an External Link
  {% endifequal %}
  {% ifequal 'c' wizard.steps.current %}
    Select all the images you want to use
  {% endifequal %}
  {% ifequal 'p' wizard.steps.current %}
    Choose a page from the site
  {% endifequal %}
  {% ifequal 'u' wizard.steps.current %}
    Upload a document for this link
  {% endifequal %}
  {% ifequal 'e' wizard.steps.current %}
    Choose a previously uploaded document
  {% endifequal %}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
       <form id="urlchoice" action="" method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %} class="pure-form pure-form-stacked">
        {% csrf_token %}
        {% if form.non_field_errors %}
          {{ form.non_field_errors }}
        {% endif %}
        <fieldset>
          {{ wizard.management_form }}
          {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
              {% include 'block/_wizard_form.html' %}
            {% endfor %}
          {% else %}
            {% include 'block/_wizard_form.html' with form=wizard.form %}
          {% endif %}
          <div class="pure-controls">
            <p>
              {% if wizard.steps.prev %}
                <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}" class="pure-button pure-button-primary">< {% trans "Back" %}</button>
              {% endif %}
              <button type="submit" value="{% trans "submit" %}" class="pure-button pure-button-primary">
                {% ifequal 1 wizard.steps.step1 %}
                  Next >
                {% else %}
                  Submit
                {% endifequal %}
              </button>
            </p>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
{% endblock %}
