{% extends 'dash/base.html' %}

{% block sub_title %}
  Image Wizard
{% endblock sub_title %}

{% block sub_heading %}
  Choose an Image
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{{ url_option }}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  {% if category %}
    <div class="pure-g">
      <div class="pure-u-1">
        <h3>{{ category.name }}</h3>
      </div>
    </div>
  {% endif %}
  <div class="pure-g">
    <div class="pure-u-2-3 pure-u-md-4-5">
      {% include 'block/_wizard_form.html' with submit='Choose' %}
      <br>
    </div>
    <div class="pure-u-1-3 pure-u-md-1-5">
      {% if tags %}
        <h3>Tags</h3>
      {% endif %}
      {% if tag %}
        &nbsp;&lt;<a href="?tag=" style="white-space:nowrap;">all</a>&gt;&nbsp;&nbsp;&nbsp;
      {% endif %}
      {% for tag in tags|dictsort:"name" %}
        &nbsp;&lt;<a href="?tag={{ tag.slug }}" style="white-space:nowrap;">{{ tag.name }}</a>&gt;&nbsp;&nbsp;&nbsp;
      {% endfor %}
    </div>
  </div>
{% endblock content %}
