{% extends 'dash/base.html' %}

{% block sub_title %}
  Image Wizard
{% endblock sub_title %}

{% block sub_heading %}
  Image Wizard
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <h3>What would you like to do?</h3>
      <a href="{{ url_choose }}" class="pure-menu-link">
        <i class="fa fa-picture-o"></i>
        Choose a previously uploaded image
      </a>
      <a href="{{ url_upload }}" class="pure-menu-link">
        <i class="fa fa-cloud-upload"></i>
        Upload an image
      </a>
      <a href="{{ url_remove }}" class="pure-menu-link">
        <i class="fa fa-times"></i>
        Remove the image from your page
      </a>
    </div>
  </div>
{% endblock content %}
